<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="stdout-normal" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc %n</Pattern>
        </layout>
    </appender>

    <appender name="bitone-appender-send-logs" class="com.edelflex.app.config.BitOneAppender">
        <app>BACKEND</app>
        <clientCode>CIGRA_INTERCOMPANY</clientCode>
        <sendLogs>true</sendLogs>
        <apiKey>ea5d21be-882d-4281-9d95-963649d89d66</apiKey>
        <server>https://bit-one-tools.ar/services/api/logs/register</server>
    </appender>

    <springProfile name="local,dev,qa,qacig,cloud">
        <root level="INFO">
            <appender-ref ref="stdout-normal"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="stdout-normal"/>
            <appender-ref ref="bitone-appender-send-logs"/>
        </root>
    </springProfile>


</configuration>